#wrapper{
	max-width: 1024px;
	margin:auto;
	overflow: hidden;
}
address{
	padding: 200px;
	text-align:center;
}
@media screen and (max-width: 600px) {
  #wrapper {
    	width:100%;
		height:100%;
  }
  #wrapper address a{
	  max-width:1024px;
	  margin:auto;
  }
}