body header{
	/*padding:80px;*/
	text-align:center;
	/*background:white;*/
	color:black;

}
nav {
	overflow:hidden;
	background-color:#333;
}
nav a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration:none;
	transition: background 0.3s linear;
}
nav a.right{
	float:right;
}
nav a:hover{
	background-color: #48D1CC;
}
