<!DOCTYPE html>
<html lang="en">
	<head>
		<title> ABOUT US </title>
		<meta charset="UTF-8">
		<meta name="author" content="">
		<meta name="description" content="SHOP NOW! QUALITY CLOTHING">
		<meta name="keywords" content="clothing for men,shirts,trousers,tees,beanies,caps">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAlsP8AAKr/AH+HhQAApP8A////ABWp/wATrv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARERERERERERERCIiIiJEREREERFhEUREREQRERERRERERBERERFEREREMREREUREREQREREVRERERBERERFEREQkEREREUJEQhERERERESQhAREREREREkERERIhEREURBERJEIREUREQRJERCEUREREREREREREREREREREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/general.css">
		<link rel="stylesheet" type="text/css" href="../css/aboutus.css">
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
		<script src="myScript.js"></script> 
	</head>
	<body>
		<header>
				<%- include ("../fragmente/header") %>
		</header>
		<main id="wrapper">
			<h2>About us</h2>
			<article id="intro">
				<h3>Why should you choose our brand?</h3>
				<ul>
					<li>Quality</li>
					<li>Price</li>
					<li>Design</li>
				</ul>
				<blockquote cite="https://www.brainyquote.com/topics/success-quotes">Without continual growth and progress, such words as improvement, achievement, and success have no meaning. -Benjamin Franklin </blockquote>
				<p>As the quote above says,we always strive to increase the quality of our clothing and come up with new and original designs.</p>
				<p>We started this company in <time>2014</time> with exactly that in mind and we countinue to guide ourselves by those words even now.</p>
			</article>
			<hr>
			<article>
				<h3>Our team</h3>
				<p> We are made up of a small team we have been in this formula since the start of the company. </p>
				<p> Gabriel is the one responsible with the actual design of our clothing.Monica's job is to market our products properly.Ben is responsible with the orders and delivery.The last member of our team is John who produces the clothing and he makes sure we use only the best fabric.</p>
			</article>
		</main>
	<footer>
		<%- include ("../fragmente/footer") %>
	</footer>
	</body>
</html>