<!DOCTYPE html>
<html lang="en">
	<head>
		<title> SHIPPING </title>
		<meta charset="UTF-8">
		<meta name="author" content="fiji dreams">
		<meta name="description" content="Who we are and what we expect from the shop">
		<meta name="keywords" content="about,details,history,our team,shop">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAlsP8AAKr/AH+HhQAApP8A////ABWp/wATrv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARERERERERERERCIiIiJEREREERFhEUREREQRERERRERERBERERFEREREMREREUREREQREREVRERERBERERFEREQkEREREUJEQhERERERESQhAREREREREkERERIhEREURBERJEIREUREQRJERCEUREREREREREREREREREREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/delivery.css">
		<link rel="stylesheet" type="text/css" href="../css/general.css">
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<script src="myScript.js"></script> 
	</head>
	<body>
		<header>
				<%- include ("../fragmente/header") %>
		</header>
		<main id="wrapper">
		<article>
		<h2>SHIPPING</h2>
		<section id="about">
			<h3>SHIPPING RATES & POLICY</h3>
				<p>Continental U.S. orders are $5 shipping for extra small and $10 for all other orders.<br> 
				Alaska and Hawaii orders are $10-$25, depending on weight.<br>
				Free shipping to Continental U.S. on orders of $100 or more.</p>
		</section>
		<aside id="note">
		<strong>Note:</strong> International shipments are subject to duties and taxes that the customer is responsible for paying.
		</aside>
		<section>
		<h3>DELIVERY METHOD AND TIMING INFO</h3>
		<p>All orders and shipped via USPS and Fedex. International rates may vary depending on size and weight.  Please allow 7 business days for order processing and verification, and an additional 10-14 business days for delivery. We are not responsible for any lost, stolen, or damaged shipments. Please check back with us periodically for any updates regarding our shipping policies.</p>
		</section>
		</article>
		</main>
	<footer>
		<%- include ("../fragmente/footer") %>
	</footer>
	</body>
</html>