<!DOCTYPE html>
<html lang="en">
	<head>
		<title> SIZING </title>
		<meta charset="UTF-8">
		<meta name="author" content="">
		<meta name="description" content="SHOP NOW! QUALITY CLOTHING">
		<meta name="keywords" content="clothing for men,shirts,trousers,tees,beanies,caps">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAlsP8AAKr/AH+HhQAApP8A////ABWp/wATrv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARERERERERERERCIiIiJEREREERFhEUREREQRERERRERERBERERFEREREMREREUREREQREREVRERERBERERFEREQkEREREUJEQhERERERESQhAREREREREkERERIhEREURBERJEIREUREQRJERCEUREREREREREREREREREREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/marimi.css">
		<link rel="stylesheet" type="text/css" href="../css/general.css">
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
		<script src="myScript.js"></script> 
	</head>
	<body>
		<header>
				<%- include ("../fragmente/header") %>
		</header>
		<div style="overflow-x:auto;">
		<table>
			<caption>SIZING</caption>
			<thead>
			<tr>
				<th rowspan="2">Size</th>
				<th colspan="2">Length</th>
				<th colspan="2">Width</th>
			</tr>
			<tr>
				<td>Male</td>
				<td>Female</td>
				<td>Male</td>
				<td>Female</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Small</td>
				<td>28"</td>
				<td>26"</td>
				<td>18"</td>
				<td>16"</td>
			</tr>
			<tr>
				<td>Medium</td>
				<td>29"</td>
				<td>27"</td>
				<td>20"</td>
				<td>18"</td>
			</tr>
			<tr>
				<td>Large</td>
				<td>30"</td>
				<td>28"</td>
				<td>22"</td>
				<td>20"</td>
			</tr>
			<tr>
				<td>X-Large</td>
				<td>31"</td>
				<td>29"</td>
				<td>24"</td>
				<td>22"</td>
			</tr>
			</tbody>
		</table>
		</div>
	<footer>
		<%- include ("../fragmente/footer") %>
	</footer>
	</body>
</html>