<!DOCTYPE html>
<html lang="en">
	<head>
		<title> SIZING </title>
		<meta charset="UTF-8">
		<meta name="author" content="">
		<meta name="description" content="SHOP NOW! QUALITY CLOTHING">
		<meta name="keywords" content="clothing for men,shirts,trousers,tees,beanies,caps">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAlsP8AAKr/AH+HhQAApP8A////ABWp/wATrv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARERERERERERERCIiIiJEREREERFhEUREREQRERERRERERBERERFEREREMREREUREREQREREVRERERBERERFEREQkEREREUJEQhERERERESQhAREREREREkERERIhEREURBERJEIREUREQRJERCEUREREREREREREREREREREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/general.css">
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<link rel="stylesheet" type="text/css" href="../css/login.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
		<script src="myScript.js"></script> 
	</head>
	<body>
		<header>
				<%- include ("../fragmente/header") %>
		</header>
		<form id="login" method="post" >
			<label>
			Username: <input type="text" name="username" >
			</label>
			<br>
			<br>
			<label>
			Parola: <input type="password" name="parola" >
			</label>
			<br>
			<br>
			Email: <input type="email" name="mail" >
			<input type="submit" value="Submit">
		</form> 
	<footer>
		<%- include ("../fragmente/footer") %>
	</footer>
	</body>
</html>